$bm-menu-generate-classes: false !default;
$bm-menu-default-z-index: 1010 !default;
$bm-menu-default-wrapper-z-index: 1015 !default;
$bm-menu-default-bg: #17a2b8 !default;
$bm-menu-compact-default-backdrop-bg: rgba(0, 0, 0, 1) !default;
$bm-menu-compact-default-backdrop-opacity: .3 !default;
$bm-menu-compact-canvas-z-index: 1055 !default;
$bm-menu-compact-backdrop-z-index: 1050 !default;
$bm-menu-compact-icon-border-style: solid !default;
$bm-menu-compact-prev-border-color: #fff !default;
$bm-menu-compact-prev-border-width: 2px !default;
$bm-menu-compact-prev-height: 44px !default;

@mixin bm-default($bg: $bm-menu-default-bg) {
  &.bm-menu {
    position: relative;
    perspective: 2000px;
    z-index: $bm-menu-default-z-index;

    .bm-prev-wrapper {
      display: none;
    }

    .bm-nav-root {
      display: flex;
      justify-content: space-between;

      > li {
        flex-grow: 1;
      }
    }

    .bm-dropdown-wrapper {
      position: absolute;
      z-index: $bm-menu-default-wrapper-z-index;
      left: 0;
      right: 0;
      top: 100%;
      transform: rotateX(-15deg);
      transform-origin: 50% -50px;
      opacity: 0;
      will-change: transform, opacity;
      transition-property: transform, opacity;
      transition-duration: 250ms;
      pointer-events: none;
    }

    &.bm-dropdown-active {
      .bm-dropdown-wrapper {
        opacity: 1;
        transform: none;
        pointer-events: auto;
      }

      .bm-dropdown-section {
        &.bm-active {
          pointer-events: auto;
        }
      }
    }

    &.bm-initialized {
      .bm-dropdown-wrapper {
        display: block;
      }
    }

    &.bm-no-dropdown-transition {
      .bm-dropdown-arrow,
      .bm-dropdown-bg,
      .bm-dropdown-container,
      .bm-dropdown-section {
        transition: none;
      }
    }

    .bm-dropdown-bg {
      position: absolute;
      top: 0;
      left: 0;
      transition-property: transform;
      transition-duration: 250ms;
      overflow: hidden;
      width: 380px;
      height: 400px;
      transform: translateX(0);
      transform-origin: 0 0;
      will-change: transform;
      background: $bg;
    }

    .bm-dropdown-arrow {
      position: absolute;
      left: 0;
      transition-duration: 250ms;
      top: -9px;
      margin: 0 0 0 -9px;
      width: 18px;
      height: 18px;
      transform: rotate(45deg);
      box-shadow: -3px -3px 5px rgba(82, 95, 127, .04);
      will-change: transform;
      transition-property: transform;
      background: $bg;
    }

    &.bm-overlay-active {
      // apply shadows and borders only on active overlays

      .bm-dropdown-bg {
        box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
      }
    }

    .bm-dropdown-container {
      position: absolute;
      overflow: hidden;
      left: 0;
      transition-duration: .25s;
      width: 500px;
      top: 0;
      transform: translateX(0);
      will-change: transform, width, height;
      transition-property: transform, width, height;
    }

    .bm-dropdown-section {
      pointer-events: none;
      opacity: 0;
      will-change: transform, opacityy;
      transition-property: transform, opacity;
      transition-duration: .25s;

      // ie fix
      .bm-dropdown-content {
        opacity: 0;
        will-change: opacity;
        transition-property: opacity;
        transition-duration: .25s;
        visibility: hidden; // edge fix
      }

      &.bm-active {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;

        // ie fix
        .bm-dropdown-content {
          opacity: 1;
          visibility: visible;
        }
      }

      &.left {
        transform: translateX(-150px)
      }

      &.right {
        transform: translateX(150px);
      }
    }

    .bm-dropdown-content {
      position: absolute;
      left: 0;
      top: 0;
    }

    .bm-off-canvas-back-wrapper {
      display: none;
    }
  }
}

@mixin bm-compact-default($bg: $bm-menu-default-bg) {
  .bm-compact-canvas {
    position: fixed;
    height: 100%;
    width: 80%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background: transparent;
    transition: transform 250ms ease;
    transform: translate3d(-100%, 0, 0);
    z-index: $bm-menu-compact-canvas-z-index;
    opacity: 0;

    &:not([aria-hidden="false"]),
    &:not([aria-hidden="true"]).bm-canvas-transition {
      visibility: hidden;
    }

    &.active {
      background: $bg;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    &.bm-canvas-transition {
      transition: all 250ms ease;
    }
  }

  .bm-compact-scroll {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    right: 0;
    z-index: 0;
  }

  .bm-menu {
    position: relative;

    .bm-nav {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: transparent;
      transform: translate3d(-100%, 0, 0);
      transition: all 250ms ease;

      &:not(.active) {
        visibility: hidden;
      }

      &.active {
        transform: translate3d(0, 0, 0);
        background: $bg;
      }

      > li {
        > a {
          transform: translate3d(0, 0, 0);
          transition: all 250ms ease;
        }
      }

      &.active-child {
        > li {
          > a {
            transform: translate3d(-100%, 0, 0);
          }
        }
      }
    }

    .bm-off-canvas-back-wrapper {
      display: flex;

      .bm-back-title {
        flex-grow: 1;
      }
    }

    .bm-prev {
      display: flex;
      height: $bm-menu-compact-prev-height;
      padding: 0 $bm-menu-compact-prev-height;

      &.disabled {
        pointer-events: none;
      }

      .bm-prev-title {
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        display: flex;
      }

      .bm-prev-btn {
        &:before {
          content: "";
          display: block;
          transform: rotate(-45deg);
          left: 23px;
          right: auto;
          width: 8px;
          height: 8px;
          margin: auto;
          position: absolute;
          top: $bm-menu-compact-prev-height / 2 + 8px / -2;
          border-color: $bm-menu-compact-prev-border-color;
          border-width: $bm-menu-compact-prev-border-width;
          border-style: $bm-menu-compact-icon-border-style;
          border-bottom: none;
          border-right: none;
        }
      }

      &.bm-root {
        .bm-prev-btn {
          &:before {
            display: none;
          }
        }
      }
    }

    a {
      &.bm-has-popup {
        position: relative;

        &:after {
          content: "";
          display: block;
          transform: rotate(135deg);
          right: 23px;
          width: 8px;
          height: 8px;
          margin: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          border-color: $bm-menu-compact-prev-border-color;
          border-width: $bm-menu-compact-prev-border-width;
          border-style: $bm-menu-compact-icon-border-style;
          border-bottom: none;
          border-right: none;
        }
      }
    }
  }
}

@mixin bm-compact-backdrop($bg: $bm-menu-compact-default-backdrop-bg) {
  .bm-compact-backdrop {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: $bm-menu-compact-backdrop-z-index;
    background: $bg;
    transform: translate3d(-100%, 0, 0);

    &.active {
      transform: translate3d(0, 0, 0);
      transition: opacity .2s ease;
      opacity: $bm-menu-compact-default-backdrop-opacity;
    }
  }
}

@mixin bm-compact-basics() {
  html {
    &.bm-canvas-open {
      overflow: hidden;
    }
  }
}

@if $bm-menu-generate-classes {
  .bm-default {
    @include bm-default();
  }

  .bm-compact-default {
    @include bm-compact-default();
  }

  @include bm-compact-backdrop();
  @include bm-compact-basics();
}

